@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #30b814;
  --color-background-light: #f6f8f6;
  --color-background-dark: #142111;
  --font-display: "Manrope", sans-serif;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply font-display bg-background-light text-slate-900 antialiased;
  }
}
